---
import Arrow from "../components/Arrow.astro";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

const Links = [
  {
    title: "fontjoy",
    description: "Fontjoy - Generate font pairings in one click",
    url: "https://fontjoy.com/",
  },
  {
    title: "Fluid Type Scale",
    description: "Fluid Type Scale - Generate responsive font-size variables",
    url: "https://www.fluid-type-scale.com/",
  },
  {
    title: "typedetail",
    description: "Font Playground -- Play with variable fonts!",
    url: "https://play.typedetail.com/",
  },
  {
    title: "Free Faces",
    description:
      "This website is a curated collection of typefaces that are available under a variety of free licences somewhere on the interwebs",
    url: "https://www.freefaces.gallery/",
  },
  {
    title: "colorsnadfonts",
    description: "Colors & Fonts",
    url: "https://www.colorsandfonts.com/",
  },
  {
    title: "typetrials.com",
    description: "TypeTrials𛲅 Powered by Pangram Pangram Foundry",
    url: "https://typetrials.com/",
  },

  {
    title: "Fontshare",
    description: "Quality Fonts. Free",
    url: "https://www.fontshare.com/",
  },
  {
    title: "v-fonts",
    description: " A simple resource for finding and trying variable fonts",
    url: "https://v-fonts.com/",
  },
];
---

<Layout title="Resources  tailwind css">
  <Arrow />

  <main
    class="z-10 h-full flex-col gap-[80px] flex top-16 lg:w-[800px] m-auto xl:w-[1100px]"
  >
    <h1
      id="inicio"
      class="bg-gradient-to-b from-slate-50 to-zinc-700 uppercase bg-clip-text text-transparent text-center text-3xl sm:text-6xl lg:text-8xl font-bold w-full h-auto mt-40"
    >
      Fonts
    </h1>
    <section class="z-10 text-white text-center p-4 w-full h-full m-auto">
      <ul class="flex gap-y-4 flex-col">
        {
          Links.map((data) => (
            <li>
              <Card
                title={data.title}
                href={data.url}
                description={data.description}
              />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
